.product-title-section {
  display: flex;
  justify-content: space-between;
}

.divider-section {
  margin: 16px 0;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-footer-icons {
  display: flex;
  gap: 10px;
}
