#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Roboto", sans-serif;

  --text-color-primary: rgb(29, 29, 29);
  --text-color-secondary: rgb(119, 119, 119);

  --text-color-primary-dark: rgb(255, 255, 255);
  --text-color-secondary-dark: rgb(187, 187, 187);

  --color-primary: rgb(0, 92, 185);
  --color-secondary: #888;
  --color-success: #4caf50;
  --color-error: #f44336;
  --color-warning: #ff9800;
  --color-info: #2196f3;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
